html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  padding-right: 0;
  margin-right: 0;
  background-color: black;
  color: whitesmoke;
}
.footer {
  opacity: .35;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

li {
  list-style: none;
}

.images {
  flex-shrink: 0;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin: 2px;
}

.container {
  text-align: center;
  width: 100%;
}

.old-email {
  font-size: 11px;
  color: grey;
  margin-bottom: 5px;
  margin-top: 20px;
}

.error-image {
  width: 100%;
  margin: auto;
  display: block;
}

.card2 {
  width: 218px;
  height: 300px;
  margin-bottom: 25px;
  border: rgba(128, 0, 128, 0.37) 1px solid;
  border-radius: 20px;
  overflow: hidden;
}

.card-img-top {
  height: 120px;
}
.card-div {
  display: flex;
  justify-content: space-between;
}

.majorcitieslist {
  display: inline;
}

.welcome-text {
  position: absolute;
  margin-top: 250px;
  margin-left: 5%;
  width: 900px;
  color: whitesmoke;
  z-index: 1;
  font-family: 'Yeon Sung', cursive;
}
img {
  border-radius: 5px;
}
.top-five-h1 {
  margin-top: 35px;
  margin-bottom: 10px;
}

.dropdown-item2 {
  color: purple;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;
  border: purple 1px solid;
  border-radius: 10px;
  display: inline;
}

.dropdown-item2:hover {
  color: purple;
  justify-content: space-around;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;
  border: purple 1px solid;
  border-radius: 10px;
  display: inline;
  cursor: pointer;
}


.title {
  font-family: 'Yeon Sung', cursive;
  color: whitesmoke;
  margin-top: 20px;
}

.title1{
  font-family: 'Yeon Sung', cursive;
  color: whitesmoke;
  margin-top: -10px;
  font-size: 100px;
}

.about-dev {
  border:whitesmoke 1px solid;
  border-radius: 5px;
  width: 100px;
  padding: 50px 75px 50px 75px;
  display: inline;
  margin-top: 100px;
}

.card3 {
  width: 180px;
}

.row-dev {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:  repeat(5, 250px);
  justify-items: center;
}

.github-img {
  position: relative;
  width: 40px;
  margin-top: -20px;
}

.linkedin-img {
  position: relative;
  width: 36px;
  margin-top: -20px;
}

.card-title-dev {
  font-family: 'Staatliches', cursive;
  color: purple;
  font-size: 23px;
}

.front-desc {
  font-family: 'Staatliches', cursive;
}

.desc {
  font-size: 10px;
  opacity: .45;
  margin-top: -8px;
}

.card5 {
  width: 280px;
  height: 270px;
  background-color: rgb(122, 122, 122);
  font-family: 'Staatliches', cursive;
  color: whitesmoke;
  border-radius: 10px;
  margin: 20px;
  padding-top: 10px;
}

.row {
  display:inline-block
}

.row2 {
  color: black;
}


.top-five-h1 {
  font-family: 'Yeon Sung', cursive;
  color: whitesmoke;
  margin-bottom: 20px;
  margin-top: 60px;
}

.cities {
  color: whitesmoke;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  color: purple;
}

a:hover {
  background-color: purple;
  color: black;
}

.profilestyle {
  font-family: 'Courier New', Courier, monospace;
}

.imageHolder {
  height: 300px;
  width: 400px;
  overflow: hidden;
}

.profile-img {
  margin-top: 20px;
  width:200px
}

.user-info {
  background-color: rgb(12, 12, 12);
  border-radius: 25px;
  width: 400px;
  padding: 20px 0px 5px 0px;
  margin-bottom: 20px;
}

.dev-p {
  width: 600px;
}

.about-img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75px
}

.about-div {
  border:purple 1px solid;
  border-radius: 25px;
  width: 500px;
  height: 250px;
  display: inline-block;
  margin: 5px;
}

.about-text {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.about-title {
  color: purple;
}

.hr {
  background-color: purple;
  height: 1px;
  border: purple 1px solid;
  margin-bottom: 25px;
  opacity: .5;
}

.dropdown-toggle {
  background-color: purple;
  color: white;
  border: none;
  width:125px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
}

.searchbar-box {
  height: 35px;
  border-radius: 5px;
  text-align: center;
}

form {
  margin: 25px;
}

.card-signup {
  background-color: rgb(29, 29, 29);
  height: 525px;
  border-radius: 20px;
  border: purple solid 1px;
}

.card-login {
  background-color: rgb(29, 29, 29);
  height: 350px;
  border-radius: 20px;
  border: purple solid 1px;
}

label {
  color: white;
}

.btn-signup {
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding:5px 30px 5px 30px;
}

.btn-image1 {
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding:5px 10px 5px 10px;
}

.btn-image2 {
  background-color: purple;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  padding:5px 5px 5px 5px;
}

.shopname {
  font-size: 20px;
}
.btn-faves {
  background-color: purple;
  color: white;
  border:none;
  border-radius: 10px;
  width:125px;
  height: 35px;
  margin-right: 10px;
  margin-left: 10px;
}

.nav-link {
  border-radius: 10px;
}

.navbar-brand {
  border-radius: 10px;
  padding:5px;
}

.disclaimer {
  font-size: 20px;
  opacity: .5;
  margin-top: 50px;
}

.new-email-box {
  margin-bottom: 25px;
}

.old-email2 {
  font-size: 11px;
  color: grey;
  margin-bottom: 5px;
}

.comment-card {
  width: 218px;
  height: 200px;
  margin-bottom: 25px;
  border: rgba(128, 0, 128, 0.37) 1px solid;
  border-radius: 20px;
  overflow: hidden;
}

.cardcomment {
  font-size: 12px;
  margin-top: -20px;
}

.fav-name {
  font-family: 'Staatliches', cursive;
}

.fav-box {
  width: 400px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.post-comment {
  width: 600px;
  height: 275px;
  margin-bottom: 25px;
  border: rgba(128, 0, 128, 0.37) 1px solid;
  border-radius: 20px;
  overflow: hidden;
}

.post-comment-title {
  font-family: 'Staatliches', cursive;
  margin-top: 15px;
}

.btn-signup2 {
  background-color: purple;
  border: none;
  border-radius: 10px;
  padding:5px 30px 5px 30px;
  margin-top: 55px;
}